

<div class="top_line rose">
  <div class="top_line_row">
    <% 16.times do %> <%= render 'top_line_text' %><% end %>
  </div>
</div>

<div class="main_box">
    <h2> Создание</h2>
    <div class="g_box">
      <%= link_to "Мероприятие", new_event_path, class: 'main_links' %>
      <%= link_to "Пост", new_post_path , class: 'main_links'%>
      <%= link_to "Магазин", new_shop_path, class: 'main_links' %>
    </div>
    <%= link_to "назад", promo_index_path , class: 'back_link'%>
</div>
