
<div class="top_line blue">
  <div class="top_line_row">
    <% 16.times do %> <%= render 'top_line_text' %><% end %>
  </div>
</div>

<div class="first">
  <div class="pic_cover"><div class="logo"></div></div>
  <div class="text_cover">
      <div class="h_1">Найдётся любая вещь</div>
      <p class="promo_cover_descr">Объединение актуальной информации о концептуальных секондах и площадка
            для организации  свопов или мероприятий для людей, интересующихся модой. </p>
    <div class="link_box">
      <%= link_to 'События', events_index_path %>
      <%= link_to "Профиль", profile_index_path %>
      <%= link_to 'О нас', about_index_path%>
      <%= link_to 'Вступить', new_event_path %>
      <!-- <a href="#s1"></a> -->
    </div>
  </div>
</div>

<div class="second">
  <h2>Медиа-сервис для поиска концептуальных секондов
и организации свопов </h2>
  <div class="second_img"></div>


<!-- <div class="images_box">
  <div class="pic p_1"></div>
  <div class="circle">
    <p>Мы предлагаем нашим пользователям подборки концепт секондов по различным категориям, вроде места и видов товаров.</p>
  </div>
  <div class="pic p_3"></div>
  <div class="square_1">
    <p>Возможность узнавать об актуальных свопах или мероприятиях и самому организовать мероприятие или вести страницу своего магазина. </p>
  </div>
  <div class="pic p_2"></div>
  <div class="square_2">
    <p>Регулярная публикация статей, посвященных  моде и интересным подборкам аутфитов
из секондов</p>
  </div>
</div> -->
</div>
<div class="third">

  <div class="dec_img i_1"></div>
  <div class="dec_img i_2"></div>
  <div class="dec_img i_3"></div>



  <h2>Принцип работы сервиса</h2>
  <div class="count_box">
    <div class="count ">
        <div class="c c_1"></div>
        <p>Зарегистрируйся на сервисе</p>
    </div>
    <div class="count ">
        <div class="c c_2"></div>
        <p>Найди ближайший секонд по своим параметрам</p>
    </div>
    <div class="count ">
        <div class="c c_3"></div>
        <p>Посети мероприятия</p>
    </div>
    <div class="count ">
        <div class="c c_4"></div>
        <p>Организуй свой своп</p>
    </div>
    <div class="count ">
        <div class="c c_5"></div>
        <p>Добавляй аккаунт своего секонда</p>
    </div>

  </div>
</div>
