<!DOCTYPE html>
<html>
  <head>
    <title>Shmot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= yield %>
  </body>

    <footer>
        <div class="">

          <h2>Подписывайся на новости</h2>
          <p>Узнай о запуске сервиса первым!</p>
          <input type="email" name="" value="" placeholder="Email">
          <button type="button" name="btn">Подписаться</button>
        </div>

      <div class="info_block">
        <p>создатели:</p>
        <div class="inst_box">
          <div class="inst_logo">

          </div>
          <%= link_to 'winteresy', new_event_path %>

        </div>
        <%= link_to 'g_achivment', new_event_path %>


      </div>



    </footer>

</html>
